/** Add a comment at the beginning of your CSS styles with your name**/
/** Erica's Styles **/
.erica-advice {
	background-color: #33cccc;
}
.erica-advice a {
	color:red;
	text-decoration: none;
	font-weight: bold;
}

.erica-advice h1 {
	color: #e60000;
}

.erica-advice h4 {
	color: #2d5986;
}

.erica-advice {
	color: black;
}

.erica-advice footer p {
	color: #2d5986;
}
